<header>
  <div class="holder">
    <a href="/" title="Home" tabindex="1">
      <img src="assets/images/logo.png">
    </a>
    <h1>{{contribuinte()}}</h1>
    <nav *ngIf="contribuinte()">
      <ul>
        <li><a [routerLink]="['/produto']" class="product" href="#" tabindex="2">Produto</a></li>
        <li><a href="#" class="nfce" tabindex="3">NFCe</a></li>
        <li><a href="#" class="nfcemonitor" tabindex="4">Monitor NFCe</a></li>
      </ul>
    </nav>
    <a class="menu-trigger" *ngIf="contribuinte()">Menu</a>
  </div>
</header>

<div class="sub-header" [hidden]="!contribuinte()">
  <div class="holder">
    <ul>
      <li><a [routerLink]="['/']" tabindex="5">Início</a></li>
      <li>
        <a href="#" tabindex="6">Cadastros</a>
        <div class="dropdown">
          <div class="arrow-box">
            <div><a [routerLink]="['/unidade_medida']">Unidades de Medida</a></div>
            <div><a [routerLink]="['/produto']">Produtos</a></div>
          </div>
        </div>
      </li>
      <li><a href="#" tabindex="7">PDV</a></li>
      <li><a href="#" tabindex="8">Relatórios</a></li>
      <li><a href="#" tabindex="9">Configuração</a></li>
      <li><a href="#" tabindex="10">Suporte</a></li>
    </ul>
  </div>
</div>
