<div class="remodal" data-remodal-id="change-company">
  <button data-remodal-action="close" class="remodal-close"></button>
  <h2>Selecione uma empresa</h2>
  <ul class="company-list">
    <li><a href="#">Empresa número 1</a></li>
    <li><a href="#">Empresa número 2</a></li>
    <li><a href="#">Empresa número 3</a></li>
  </ul>
</div> <!-- /modal-add-node -->

<footer>
  <div class="holder">
    <img src="{{avatar()}}">
    <ul class="ft-list-01">
      <li>{{email()}}</li>
      <li><a href="#" tabindex="11" data-remodal-target="change-company">Trocar empresa</a></li>
      <li><a href="#" class="logout" tabindex="12">Sair</a></li>
    </ul>
    <ul class="ft-list-02">
      <li><strong>Sessão:</strong> 42%</li>
      <li><strong>Base:</strong> Desenvolvimento</li>
      <li><strong>Versão:</strong> 10.0.0.63</li>
    </ul>
  </div>
</footer>
