/**
ENTRY
===========================
*/

.entry {
  width: 800px;
  background: $white;
  border-bottom: 2px solid $light-gray-2;
  margin: auto;
  padding: 0;
  margin-top: 40px;

  @media (max-width: 860px) {
    width: 100%;
  }

  h2 {
    font-size: $font-medium;
  }
}

.form-entry {
  margin-bottom: 85px;

  @media (max-width: 860px) {
    margin-bottom: 0;
  }
}

.login-entry {
  width: 300px;
  margin-bottom: 85px;
  border-top: 3px solid $light-green;

  @media (max-width: 860px) {
    width: 100%;
    margin-bottom: 0;
  }

  h2 {
    font-size: $font-large;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 5px;
    padding-bottom: 11px;
    border-bottom: 1px solid $light-gray-2;
    font-size: $font-small;
    text-transform: uppercase;
    color: $medium-gray-2;
  }
}
