/**
REMODAL
===========================
*/

.remodal {
  width: 370px;
  font-family: $sans-serif;
  background: $white;
  color: $dark-gray;
  border: 7px solid $light-gray-2;
  text-align: left;
  padding: 0 15px 0 15px;

  h2 {
    background: $light-gray-2;
    font-size: $font-small;
    text-transform: uppercase;
    margin: -5px -20px 0 -20px;
    height: 45px;
    line-height: 45px;
    padding: 0 16px;
  }
}

.remodal-close {
  color: rgba($dark-gray, .5);
  margin-top: -3px;
  margin-right: -10px;

  &:hover {
    color: rgba($dark-gray, 1);
  }
}

