<section class="entry login-entry">

  <form [formGroup]="loginForm" novalidate class="general-form">
    <h2>Login</h2>
    <div class="col-large">
      <label>Login</label>
      <input type="text" formControlName="email" id="email" placeholder="E-mail" autocomplete="off">
    </div>
    <div class="col-large">
      <label>Senha</label>
      <input type="password" formControlName="password" id="password" placeholder="Senha" autocomplete="off">
    </div>
    <div class="form-nav">
      <button (click)="login(loginForm.value)" [disabled]="!loginForm.valid">
        Entrar
      </button>
    </div>
  </form>

</section>
