<section class="entry form-entry">

  <form action="#" class="general-form">
    <div class="col-medium">
      <label for="name">Código</label>
      <input type="text">
    </div>
    <div class="col-small">
      <label for="name">Situação</label>
      <div class="select-style">
        <select type="text">
          <option>Ativo</option>
          <option>Inativo</option>
        </select>
      </div>
    </div>
    <div class="col-large">
      <label for="name">Descrição</label>
      <textarea></textarea>
    </div>
    <div class="col-medium">
      <label for="name">Preço venda</label>
      <input type="text">
    </div>
    <div class="col-medium">
      <label for="name">Preço atacado</label>
      <input type="text">
      <span class="error">Preencha este campo</span>
    </div>
    <div class="col-medium">
      <label for="name">ID unidade medida</label>
      <div class="select-style">
        <select type="text">
          <option>Unidade(s)</option>
          <option>Litro(s)</option>
          <option>Caixa(s)</option>
        </select>
      </div>
    </div>
    <div class="col-medium">
      <label for="name">ID ncm</label>
      <div class="select-style">
        <select type="text" id="id-ncm">
          <option>0112100</option>
          <option>0112102</option>
        </select>
      </div>
    </div>
    <div class="col-medium">
      <label for="name">Cest i05c</label>
      <input type="text">
    </div>
    <div class="col-medium">
      <label for="name">Cód. de barra</label>
      <input type="text">
    </div>
    <div class="col-medium">
      <label for="name">Cprodamp Ia02</label>
      <input type="text">
    </div>
    <div class="col-small">
      <label for="name">Pmixgn Ia03</label>
      <input type="text">
    </div>
    <div class="col-medium">
      <label for="name">Codif Ia04</label>
      <input type="text">
    </div>
    <div class="form-nav">
      <button>Gravar</button>
    </div>
  </form>

</section> <!-- /entry -->

<link href="/assets/public/stylesheet/select2/select2.min.css" rel="stylesheet" />