<section class="entry form-entry">

  <form *ngIf="unidadeMedidaForm" [formGroup]="unidadeMedidaForm" class="general-form" novalidate>

    <div class="col-small">
      <km-input-container errorMessage="Campo Obrigatório" label="Sigla">
        <input type="text" formControlName="sigla" id="sigla" autocomplete="off">
      </km-input-container>
    </div>
    <div class="col-large">
      <km-input-container errorMessage="Campo Obrigatório" label="Descrição">
        <input type="text" formControlName="descricao" id="descricao" autocomplete="off">
      </km-input-container>
    </div>

    <div class="form-nav">
      <button (click)="saveUnidadeMedida(unidadeMedidaForm.value)" [disabled]="!unidadeMedidaForm.valid">
        Gravar
      </button>
    </div>

  </form>


  <!--<form>-->

    <!--<div class="tabs">-->

      <!--<ul class="tabNavigation">-->
        <!--<li><a href="#tab01">Tab 1</a></li>-->
        <!--<li><a href="#tab02">Tab 2</a></li>-->
      <!--</ul>-->

      <!--<div id="tab01">-->
        <!--campos...-->
      <!--</div>-->


    <!--</div>-->

    <!--<div class="form-nav">-->
      <!--<button >-->
        <!--Gravar-->
      <!--</button>-->
    <!--</div>-->

  <!--</form>-->

</section> <!-- /entry -->
