<section class="entry form-entry">

  <form *ngIf="produtoForm" [formGroup]="produtoForm" class="general-form" novalidate>
    <div class="col-medium">
      <km-input-container errorMessage="Campo Obrigatório" label="Código">
        <input type="text" formControlName="codigo" id="codigo" autocomplete="off">
      </km-input-container>
    </div>
    <div class="col-small">
      <label for="situacao">Situação</label>
      <div class="select-style">
        <select type="text" formControlName="situacao" id="situacao" autocomplete="off">
          <option>Ativo</option>
          <option>Inativo</option>
        </select>
      </div>
    </div>
    <div class="col-large">
      <km-input-container errorMessage="Campo Obrigatório" label="Descrição">
        <input type="text" formControlName="descricao" id="descricao" autocomplete="off">
      </km-input-container>
    </div>

    <div class="col-medium">
      <label for="ncm">ID ncm</label>
      <select2 [options]="options" id="ncm"></select2>
    </div>

    <div class="form-nav">
      <button (click)="saveProduto(produtoForm.value)" [disabled]="!produtoForm.valid">
        Gravar
      </button>
    </div>

  </form>

</section> <!-- /entry -->

<!--<link href="/assets/public/stylesheet/select2/select2.min.css" rel="stylesheet" />-->
<!--<link href="/assets/js/select2/select2.min.js" />-->
<!--<link href="/assets/js/select2/i18n/pt-BR.js" />-->
